div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

body{
    background: linear-gradient(to right, #ff0000, #0000ff);
}
.input-container {
    display: flex;
    flex-direction: row;
    
}

#color2{
    margin-left: 2em;
}